<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card bg-dark text-white">

          <%= form_for(@admin, html:{class: 'col-md-8 offset-md-2 margin2'}) do |i| %>

              <div class="mb-2">
                <%= i.label :name, class:'form-label' %>
                <%= i.text_field :name, class:"form-control" %>
              </div>
              
              <div class="mb-2">
                <%= i.label :email, class:'form-label' %>
                <%= i.text_field :email, class:"form-control" %>
              </div>

              <div class="mb-2">
                <%= i.label :password, class:'form-label' %>
                <%= i.password_field :password, class:"form-control" %>
              </div>

              <div class="mb-2">
                <%= i.label :password_confirmation, class:'form-label' %>
                <%= i.password_field :password_confirmation, class:"form-control" %>
              </div>
            
              <div class="col-md-8">  
                <%= i.button(@admin.new_record? ? "Sign UP" : "Submit Changes", class:"btn btn-primary") %>
              </div>

          <% end %>

      </div>
    </div>
  </div>
</div>